<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<description>Shiro 测试配置</description>

    <context:property-placeholder location="classpath:config/system.properties" ignore-unresolvable="true"/>

    <!-- Shiro生命周期处理器  保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <!-- ========================================== 会话管理 ========================================== -->
    <!-- 会话ID生成器 -->
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>

    <!-- 会话Cookie模板 -->
    <!-- 指定本系统SESSIONID, 默认为: JSESSIONID 问题: 与SERVLET容器名冲突, 如JETTY, TOMCAT 等默认JSESSIONID,
        当跳出SHIRO SERVLET时如ERROR-PAGE容器会为JSESSIONID重新分配值导致登录会话丢失! -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="${shiro.uid.cookie.name}"/>
        <property name="httpOnly" value="${shiro.uid.cookie.httpOnly}"/>
        <!-- maxAge=-1表示浏览器关闭时失效此Cookie -->
        <property name="maxAge" value="${shiro.uid.cookie.maxAge}"/>
    </bean>

    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache" />
        <property name="sessionIdGenerator" ref="sessionIdGenerator" />
    </bean>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- 设置ehcache全局会话超时时间，默认30分钟，即如果30分钟内没有访问会话将过期 -->
        <property name="globalSessionTimeout" value="${shiro.session.globalSessionTimeout}"/>
        <property name="sessionDAO" ref="sessionDAO" />
        <!-- 间隔多少时间检查，不配置是60分钟 -->
        <property name="sessionValidationScheduler" ref="sessionValidationScheduler" />
        <!-- 是否开启 检测，默认开启 定时检查失效的session -->
        <property name="sessionValidationSchedulerEnabled" value="true" />
        <!-- 删除失效的session -->
        <property name="deleteInvalidSessions" value="true" />
        <!-- 会话Cookie模板 -->
        <property name="sessionIdCookieEnabled" value="true" />
        <property name="sessionIdCookie" ref="sessionIdCookie" /><!-- sessionIdCookie的实现,用于重写覆盖容器默认的JSESSIONID -->
    </bean>

    <!-- 会话验证调度器，每隔一段时间清理失效的用户session -->
    <bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
        <!-- 间隔多少时间检查，不配置是60分钟，现在配置的是30分钟 -->
        <property name="interval" value="${shiro.session.validation.interval}"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!-- 用户信息 remenberME -->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="${shiro.uid.rememeberMe.cookie.name}"/>
        <property name="httpOnly" value="${shiro.uid.cookie.httpOnly}"/>
        <property name="maxAge" value="${shiro.uid.rememeberMe.cookie.maxAge}"/><!-- 单位秒,30天 -->
    </bean>

    <!-- rememberMe管理器 -->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <!-- rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度 （128 256 512 位） -->
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('${shiro.uid.rememeberMe.cookie.base64.cipherKey}')}"/>
        <property name="cookie" ref="rememberMeCookie" />
    </bean>

    <!-- ========================================== 缓存、加密  ========================================== -->
    <!-- 缓存管理器 使用Ehcache实现 -->
	<!--<bean id="shiroCacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>-->
    <bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManager" ref="ehcacheManagerFactory" />
    </bean>

    <!-- 并发登录控制 -->
    <bean id="kickoutSessionFilter" class="com.hrp.shiro.filter.KickoutSessionControlFilter">
        <constructor-arg name="cacheManager" ref="shiroCacheManager" />
        <constructor-arg name="cacheName" value="shiro-kickout-session" />

        <property name="sessionManager" ref="sessionManager" />
        <property name="kickoutAfter" value="false" />
        <property name="maxSession" value="1" />
        <property name="kickoutUrl" value="/login.do?kickout=1" />
    </bean>

    <!-- 凭证匹配器，解密实用，注入到realm中使用 -->
    <!-- 使用自定义的CredentialMatcher，实现了多次尝试密码失败后锁定用户的功能 -->
    <bean id="credentialsMatcher" class="com.hrp.shiro.credential.RetryLimitHashedCredentialsMatcher">
        <constructor-arg name="cacheManager" ref="shiroCacheManager"/>
        <constructor-arg name="cacheName" value="passwordRetryCache" /><!-- 对应ehcache.xml中的passwordRetryCache -->
        <property name="maxPasswordRetry" value="${user.password.maxPasswordRetry}" />

        <!-- 加密解密的算法要一样，迭代数也是  -->
        <property name="hashAlgorithmName" value="md5"/>
        <property name="hashIterations" value="2"/>
        <property name="storedCredentialsHexEncoded" value="true" />
    </bean>

	<!-- 继承自AuthorizingRealm的自定义Realm，即指定Shiro验证用户登录的类为自定义的ShiroRealm.java -->
	<bean id="shiroRealm" class="com.hrp.interceptor.shiro.ShiroRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"/> <!-- 使用自定义加密处理 EncryptUtil.getPassword(password, username) -->
        <property name="cachingEnabled" value="true"/>
        <property name="authenticationCachingEnabled" value="true"/>
        <property name="authenticationCacheName" value="authenticationCache"/>
        <property name="authorizationCachingEnabled" value="true"/>
        <property name="authorizationCacheName" value="authorizationCache"/>
    </bean>

    <!-- ==========================================安全管理器========================================== -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="shiroCacheManager"/>
        <property name="realm" ref="shiroRealm" />
        <property name="rememberMeManager" ref="rememberMeManager" />
        <property name="sessionManager" ref="sessionManager" />
    </bean>

    <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>

    <!-- 基于Form表单的身份验证过滤器 --><!--替换默认的form 验证过滤器-->
    <bean id="formAuthenticationFilter" class="com.hrp.shiro.filter.CustomFormAuthenticationFilter">
        <property name="defaultSuccessUrl" value="${shiro.back.default.success.url}"/>
        <property name="adminDefaultSuccessUrl" value="${shiro.back.default.success.url}"/>

        <!--表单上的用户名/密码 下次自动登录的参数名-->
        <property name="usernameParam" value="username"/>
        <property name="passwordParam" value="password"/>
        <property name="rememberMeParam" value="rememberMe"/><!--即rememberMe请求参数名，请求参数是boolean类型，true表示rememberMe。   -->

        <property name="failureKeyAttribute" value="shiroLoginFalure" />
    </bean>

    <!--<bean id="jCaptchaValidateFilter" class="com.hrp.shiro.filter.JCaptchaValidateFilter">
        <property name="jcaptchaEbabled" value="${shiro.jcaptcha.enable}"/>
        <property name="jcaptchaParam" value="jcaptchaCode"/>
        <property name="jcapatchaErrorUrl" value="${shiro.jcaptcha.error.url}"/>
    </bean>-->

    <!-- 退出登录过滤器 -->
    <bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter">
        <property name="redirectUrl" value="${shiro.back.logout.success.url}"/>
    </bean>

    <!-- 系统有效性验证 -->
    <bean id="sysAuthorityFilter" class="com.hrp.filter.SysAuthorityFilter" />
    <bean id="monitorFilter" class="com.hrp.filter.MonitorAccessControlFilter"/>

	<!-- Shiro Filter -->
	<!-- Shiro主过滤器本身功能十分强大,其强大之处就在于它支持任何基于URL路径表达式的、自定义的过滤器的执行 -->
	<!-- Web应用中,Shiro可控制的Web请求必须经过Shiro主过滤器的拦截,Shiro对基于Spring的Web应用提供了完美的支持 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- Shiro的核心安全接口,这个属性是必须的 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 要求登录时的链接(可根据项目的URL进行替换),非必须的属性,默认会自动寻找Web工程根目录下的"/login.jsp"页面 -->
		<property name="loginUrl" value="${shiro.back.login.url}" />
		<!-- 登录成功后要跳转的链接 -->
		<property name="successUrl" value="${shiro.back.default.success.url}" />
		<!-- 用户访问未对其授权的资源时,所显示的链接 -->
		<property name="unauthorizedUrl" value="${shiro.unauthorizedUrl}" />
		<!-- Shiro连接约束配置,即过滤链的定义 -->
		<!-- 下面value值的第一个'/'代表的路径是相对于HttpServletRequest.getContextPath()的值来的 -->
		<!-- anon：它对应的过滤器里面是空的,什么都没做,这里.do和.jsp后面的*表示参数,比方说login.jsp?main这种 -->
		<!-- authc：该过滤器下的页面必须验证后才能访问,它是Shiro内置的一个拦截器org.apache.shiro.web.filter.authc.FormAuthenticationFilter -->
		<property name="filterChainDefinitions">
			<value>
                <!-- 静态资源 -->
                /admin/**                   = anon
                /plugins/**                 = anon
                /static/** 			        = anon
                /swagger/**                 = anon
                /api-docs = anon
                /api-docs/** = anon
                /img/**                     = anon
                /uploadFiles/**             = anon

                <!-- 不需要验证　-->
                /#                          = anon
                /authorization.do           = anon
                /locked.do                  = anon

                /b/register.do              = anon
                /b/login.do                 = anon
                /b/logout.do                = logout
                /b/anon/**                  = anon

                /c/**                       = anon

                /r/**                       = anon

                /druid/*                    = anon

                /b/**                       = kickout, sysAuthc, formAuthc
                <!-- /**                         = kickout, authc  -->
			</value>
		</property>
        <property name="filters">
            <map>
                <entry key="sysAuthc" value-ref="sysAuthorityFilter" />
                <entry key="formAuthc" value-ref="formAuthenticationFilter"/>
                <!--<entry key="monitor" value-ref="monitorFilter" />
                <entry key="jCaptchaValidate" value-ref="jCaptchaValidateFilter"/>-->
                <entry key="logout" value-ref="logoutFilter"/>
                <entry key="kickout" value-ref="kickoutSessionFilter" />
            </map>
        </property>
	</bean>

</beans>