<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 开启延迟加载 -->
	<settings>
        <setting name="cacheEnabled" value="true"/><!-- 全局映射器启用缓存，二级缓存，默认false -->
        <setting name="useGeneratedKeys" value="true" />
        <!--<setting name="defaultExecutorType" value="BATCH"/>--><!-- 可以重复执行语句和批量更新 -->
        <!--<setting name="defaultExecutorType" value="REUSE" />--><!-- 可能重复使用prepared statement语句 -->
        <!--  <setting name="jdbcTypeForNull" value="NULL" /> -->
    </settings>

	<typeAliases>
        <typeAlias type="com.hrp.utils.PageData" alias="pd"/>
        <!-- 分页 -->
        <typeAlias type="com.hrp.utils.plugins.Page" alias="Page"/>

        <!-- system -->
        <typeAlias type="com.hrp.entity.system.SysLog" alias="SysLog" />
        <typeAlias type="com.hrp.entity.system.TreeNode" alias="TreeNode"/>
        <typeAlias type="com.hrp.entity.system.Authority" alias="Authority"/>
		<typeAlias type="com.hrp.entity.system.User" alias="User"/>
		<typeAlias type="com.hrp.entity.system.Role" alias="Role"/>
		<typeAlias type="com.hrp.entity.system.Menu" alias="Menu"/>
		<typeAlias type="com.hrp.entity.system.Button" alias="Button"/>
		<typeAlias type="com.hrp.entity.system.Dictionary" alias="Dictionary"/>
		<typeAlias type="com.hrp.entity.system.Department" alias="Department"/>
		<typeAlias type="com.hrp.entity.system.UserRoleLink" alias="UserRoleLink"/>
		<typeAlias type="com.hrp.entity.system.TbTeam" alias="Team"/>
		<typeAlias type="com.hrp.entity.system.UserTeam" alias="UserTeam"/>
		<typeAlias type="com.hrp.entity.system.UserDept" alias="UserDept"/>
        <!-- business -->
        <typeAlias type="com.hrp.entity.business.TbProject" alias="Project"/>
		<typeAlias type="com.hrp.entity.business.TbProjectIndex" alias="ProjectIndex"/>
		<typeAlias type="com.hrp.entity.business.TbIndexTable" alias="IndexTable"/>
		<typeAlias type="com.hrp.entity.business.TbProjectOpinion" alias="ProjectOpinion"/>



	</typeAliases>
	
	<plugins>
        <!-- 分页处理 -->
		<plugin interceptor="com.hrp.interceptor.PageInterceptor">
			<property name="dialect" value="sqlserver"/>
			<property name="pageSqlId" value=".*ListPage.*"/>
		</plugin>
	</plugins>
	
</configuration>