<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ButtonMapper">

    <resultMap type="Button" id="buttonMap">
        <id column="ID" property="id" />
        <result column="BTN_ID" property="btnId"/>
        <result column="BTN_TAG" property="btnTag"/>
        <result column="BTN_TYPE" property="btnType"/>
        <result column="BTN_TITLE" property="btnTitle"/>
        <result column="BTN_CLASS" property="btnClass"/>
        <result column="BTN_TEXT" property="btnText"/>
        <result column="ENABLED" property="enabled"/>
        <result column="VISIBLE" property="visible" />
        <result column="REMARK" property="remark"/>
        <result column="MENU_ID" property="menuId"/>
    </resultMap>

    <resultMap type="Button" id="buttonExtendMap" extends="buttonMap">
        <!-- 查询父字典 -->
        <association column="MENU_ID" property="menu" select="MenuMapper.getMenuById"/>
    </resultMap>

    <!-- 表名 -->
    <sql id="tableName">
        T_BUTTON
    </sql>

    <!-- 字段 -->
    <sql id="field">
        ID, BTN_TAG, BTN_ID, BTN_TYPE, BTN_TITLE, BTN_CLASS, BTN_TEXT, MENU_ID, ENABLED, VISIBLE, REMARK
    </sql>

    <!-- 字段值 -->
    <sql id="fieldValue">
        #{id}, #{btnTag}, #{btnId}, #{btnType}, #{btnTitle}, #{btnClass}, #{btnText}, #{menuId}, #{enabled}, #{visible}, #{remark}
    </sql>

    <!-- 获取菜单按钮 -->
    <select id="getButtonInfo" parameterType="Integer" resultMap="buttonExtendMap">
        select top 1 <include refid="field"></include> from <include refid="tableName"></include>
        where 1=1
        <!--<if test="id != null and id != ''">-->
            and ID = #{id}
        <!--</if>-->
    </select>

    <!-- 更新按钮是否可用 -->
    <update id="disabledButton" parameterType="pd">
        update
        <include refid="tableName"></include>
        SET
        ENABLED = #{enabled}
        where BTN_ID = #{btnId}
    </update>

    <!-- 获取按钮列表 -->
    <select id="selectButton" parameterType="pd" resultMap="buttonMap">
        select m.MENU_ID,m.MENU_NAME,m.ROOT_ID,b.BTN_ID,b.BTN_TITLE
        from T_MENU m left join T_BUTTON  b
        on m.MENU_ID = b.MENU_ID
        where 1=1
    </select>

    <!-- 新增按钮 -->
    <insert id="saveButton" parameterType="Button" useGeneratedKeys="true" keyProperty="id">
        insert into T_BUTTON (<trim suffixOverrides=",">
            <if test="btnTag != null and btnTag != ''">BTN_TAG,</if>
            <if test="btnId != null and btnId != ''">BTN_ID,</if>
            <if test="btnType != null and btnType != ''">BTN_TYPE,</if>
            <if test="btnTitle != null and btnTitle != ''">BTN_TITLE,</if>
            <if test="btnClass != null and btnClass != ''">BTN_CLASS,</if>
            <if test="menuId != null and menuId != ''">MENU_ID,</if>
            <if test="enabled != null and enabled != ''">ENABLED,</if>
            <if test="visible != null and visible != ''">VISIBLE,</if>
            <if test="btnText != null and btnText != ''">BTN_TEXT,</if>
            <if test="remark != null and remark != ''">REMARK</if>
        </trim>)
            values(<trim suffixOverrides=",">
            <if test="btnTag != null and btnTag != ''">#{btnTag},</if>
            <if test="btnId != null and btnId != ''">#{btnId},</if>
            <if test="btnType != null and btnType != ''">#{btnType},</if>
            <if test="btnTitle != null and btnTitle != ''">#{btnTitle},</if>
            <if test="btnClass != null and btnClass != ''">#{btnClass},</if>
            <if test="menuId != null and menuId != ''">#{menuId},</if>
            <if test="enabled != null and enabled != ''">#{enabled},</if>
            <if test="visible != null and visible != ''">#{visible},</if>
            <if test="btnText != null and btnText != ''">#{btnText},</if>
            <if test="remark != null and remark != ''">#{remark}</if>
        </trim>)
        <!--<selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT IDENT_CURRENT('T_BUTTON')
        </selectKey>-->
    </insert>

    <!-- 更新按钮信息 -->
    <update id="updateButton" parameterType="Button">
        update T_BUTTON
        <set>
            <if test="btnTag != null and btnTag != ''">BTN_TAG=#{btnTag},</if>
            <if test="btnId != null and btnId != ''">BTN_ID=#{btnId},</if>
            <if test="btnType != null and btnType != ''">BTN_TYPE=#{btnType},</if>
            <if test="btnTitle != null and btnTitle != ''">BTN_TITLE=#{btnTitle},</if>
            <if test="btnClass != null and btnClass != ''">BTN_CLASS=#{btnClass},</if>
            <if test="menuId != null and menuId != ''">MENU_ID=#{menuId},</if>
            <if test="enabled != null and enabled != ''">ENABLED=#{enabled},</if>
            <if test="visible != null and visible != ''">VISIBLE=#{visible},</if>
            <if test="btnText != null and btnText != ''">BTN_TEXT=#{btnText},</if>
            <if test="remark != null and remark != ''">REMARK=#{remark}</if>
        </set>
        where ID = #{id}
    </update>

    <!-- 获取按钮总数 -->
    <select id="getButtonCount" parameterType="String" resultType="pd">
        SELECT
            count(1) buttonCount
        FROM
            <include refid="tableName"></include>
    </select>

    <!-- 列举所有button信息 -->
    <select id="getButtonList" parameterType="pd" resultMap="buttonMap">
        SELECT <include refid="field"></include> from <include refid="tableName"></include>
        WHERE 1=1
        <if test="btnId != null and btnId != ''">
            AND BTN_ID = #{btnId}
        </if>
        <if test="menuId != null and menuId != ''">
            AND MENU_ID = #{menuId}
        </if>
        <if test="btnTag != null and btnTag != ''">
            AND BTN_TAG = #{btnTag}
        </if>
        <if test="enabled != null and enabled != ''">
            AND ENABLED = #{enabled}
        </if>
        <if test="visible != null and visible != ''">
            AND VISIBLE = #{visible}
        </if>
        <if test="sort != null and sort != ''">
            ORDER BY #{sort}
        </if>
    </select>

    <!-- 根据用户ID获取该用户可以操作的button信息 -->
    <select id="getButtonByUserId" parameterType="java.lang.String" resultMap="buttonMap">
        SELECT
            b.*
        FROM
            T_BUTTON b,
            T_ROLE_BTN rb,
            T_ROLE r,
            T_USER_ROLE ur
        WHERE
            b.ID = rb.BTN_ID
        AND rb.ROLE_ID = ur.ROLE_ID
        AND
          ur.USER_ID = #{userId}
    </select>

    <!-- 根据角色id获取对应的button集合 -->
    <select id="getButtonByRoleId" parameterType="Integer" resultMap="buttonMap">
        SELECT
            b.*
        FROM
            T_BUTTON b,
            T_ROLE_BTN rb
        WHERE
            b.ID = rb.BTN_ID
        AND
            rb.ROLE_ID = #{roleId}
    </select>

    <!-- 支持批量删除 -->
    <delete id="deleteButton" parameterType="pd">
        delete from T_BUTTON where ID in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
