<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="RoleMapper">

    <resultMap type="Role" id="RoleMap">
        <id column="ROLE_ID" property="roleId"/>
        <result column="CODE" property="code"/>
        <result column="ROLENAME" property="roleName"/>
        <result column="IS_SYS" property="isSys"/>
        <result column="REMARK" property="remark"/>
        <result column="SUP_ID" property="supId"/>
        <result column="ORDERS" property="orders"/>
    </resultMap>

    <resultMap type="Role" id="RoleExtendMap" extends="RoleMap">
        <!-- 查询父字典 -->
        <association column="SUP_ID" property="supId" select="RoleMapper.getBySupId"/>
        <!-- 查询子字典 -->
        <!--<collection column="ENTRY_CODE" property="subDictionarys" javaType="ArrayList" ofType="Dictionary" select="DictionartMapper.getSubDictionarys"/>-->
    </resultMap>



    <!-- 表名 -->
    <sql id="tableName">
        T_ROLE
    </sql>

    <!-- 字段 -->
    <sql id="field">
        ROLE_ID, CODE, ROLENAME, IS_SYS, REMARK, SUP_ID, ORDERS
    </sql>

    <!-- 字段值 -->
    <sql id="fieldValue">
        #{ROLE_ID}, #{CODE}, #{ROLENAME}, #{IS_SYS}, #{REMARK}, #{SUP_ID}, #{ORDERS}
    </sql>

    <!-- 属性值 -->
    <sql id="propertyValue">
        #{roleId},#{code},#{roleName},#{isSys},#{remark},#{supId},#{orders}
    </sql>

    <select id="getByRoleId" parameterType="pd" resultMap="RoleMap">
        select top 1 <include refid="field"></include> from <include refid="tableName"></include>
        where ROLE_ID = #{roleId}
    </select>

    <select id="getBySupId" parameterType="String" resultMap="RoleMap">
        select top 1 <include refid="field"></include> from <include refid="tableName"></include>
        where CODE = #{supId}
    </select>


    <select id="listAllRole" parameterType="pd" resultMap="RoleMap">
        SELECT
        <include refid="field"></include>
        FROM
        <include refid="tableName"></include>
        WHERE
        1=1
        <if test="dicInfo != null and dicInfo != ''"><!-- 关键词检索 -->
            AND (
           CODE LIKE '%'+#{dicInfo}+'%'
            OR
            ROLENAME LIKE '%'+#{dicInfo}+'%'
            )
        </if>
   </select>

    <insert id="saveRoleBean" parameterType="Role" useGeneratedKeys="true" keyProperty="roleId">
        insert into T_ROLE (<trim suffixOverrides=",">
        <if test="code != null and code != ''">CODE,</if>
        <if test="roleName != null and roleName != ''">ROLENAME,</if>
        <if test="isSys != null and isSys != ''">IS_SYS,</if>
        <if test="supId != null and supId != ''">SUP_ID,</if>
        <if test="orders != null and orders != ''">ORDERS,</if>
        <if test="remark != null and remark != ''">REMARK</if>
    </trim>)
        values(<trim suffixOverrides=",">
        <if test="code != null and code != ''">#{code},</if>
        <if test="roleName != null and roleName != ''">#{roleName},</if>
        <if test="isSys != null and isSys != ''">#{isSys},</if>
        <if test="supId != null and supId != ''">#{supId},</if>
        <if test="orders != null and orders != ''">#{orders},</if>
        <if test="remark != null and remark != ''">#{remark}</if>
    </trim>)
    </insert>

    <update id="updateRole" parameterType="pd">
        update T_ROLE
        <set>
            <if test="code != null and code != ''">CODE=#{code},</if>
            <if test="roleName != null and roleName != ''">ROLENAME=#{roleName},</if>
            <if test="isSys != null and isSys != ''">IS_SYS=#{isSys},</if>
            <if test="supId != null and supId != ''">SUP_ID=#{supId},</if>
            <if test="orders != null and remark != ''">ORDERS=#{orders},</if>
            <if test="remark != null and remark != ''">REMARK=#{remark}</if>
        </set>
        where ROLE_ID = #{roleId}
    </update>

    <!-- 支持批量删除 -->
    <delete id="deleteUser" parameterType="pd">
        delete from sysuser where 1=1
        <if test="ids !=null and ids !=''">
            and userId in ${ids}
        </if>
    </delete>

    <!-- 获取用户总数 -->
    <select id="getUserCount" parameterType="String" resultType="pd">
        SELECT
            count(USER_ID) userCount
        FROM
            <include refid="tableName"></include>
    </select>

    <!-- 批量删除 -->
    <delete id="batchDeleteRole" parameterType="int">
        delete from
        <include refid="tableName"></include>
        where  ROLE_ID  in
        <foreach collection="array" item="roleIds" open="(" separator="," close=")">
            #{roleIds}
        </foreach>
    </delete>

    <!-- 批量新增角色按钮信息 -->
    <insert id="batchSaveRoleBtn" parameterType="java.util.List">
        insert into T_ROLE_BTN (ROLE_ID, BTN_ID)
        values
        <foreach collection="list" item="pd" index="index" separator=",">
            (#{pd.ROLE_ID}, #{pd.BTN_ID})
        </foreach>
    </insert>

    <!-- 批量删除 -->
    <delete id="batchDeleteRoleBtn" parameterType="pd">
        delete from T_ROLE_BTN
        where
        <if test="ROLE_ID != null and ROLE_ID != ''">
          ROLE_ID = #{ROLE_ID}
        </if>
          AND BTN_ID  in
        <foreach collection="array" item="btnId" index="index" open="(" separator="," close=")">
            #{btnId}
        </foreach>
    </delete>

</mapper>
