<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TestMapper">

    <resultMap type="Authority" id="authorityMap">
        <id column="ID" property="id"/>
        <result column="ADDRESS" property="address"/>
        <result column="EXPIRE" property="expire"/>
        <result column="ENABLED" property="enabled"/>
    </resultMap>


    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="userId">
        insert into user (USER_ID, USERNAME, ACCOUNT, PASSWORD)
        VALUES
        <foreach collection="userList" item="user" index="index" separator=",">
            (#{user.userId}, #{user.username}, #{user.account}, #{user.password})
        </foreach>
    </insert>

</mapper>
